
html {
    scroll-behavior: smooth;
  }
  
  .section {
    height: 100vh; /* Each section takes up full screen height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
  }
  